@import "@Styles/scss/default.scss";
$input:"input";

.#{$input} {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    border: 1px solid;
    border-radius: $border-radius;
    font-size: 14px;
    transition: background-color .2s ease, border-color .2s ease, color .2s ease;
    @include set-color(rgba($black, .85), $white, $gray-5);


    @include click-animating("");



    &--wide {
        width: 100%;
    }

    &--disabled {
        @include disabled-color();
    }

    &:hover,
    &--focus {
        @include set-color(rgba($black, .85), transparent, $primary-5);
    }

    &--disabled,
    &--disabled:hover {
        @include disabled-color();
    }



    &--error {
        @include set-color($danger-5, $white, $danger-4);

        &:hover,
        &.#{$input}--focus {
            @include set-color($danger-5, $white, $danger-3);
        }
    }

    &--warning {
        @include set-color($gold-6, $white, $gold-4);

        &:hover,
        &.#{$input}--focus {
            @include set-color($gold-6, $white, $gold-4);
        }
    }

    &--large {
        .#{$input}__input {
            padding: 12px 8px;
        }

        height:40px;
        font-size:16px;
    }

    &--small {
        .#{$input}__input {
            padding: 1px 8px;
        }

        height:24px;
        font-size:14px;
    }

    &--have-prefix,
    &--have-suffix {
        padding: 5px 12px;
        gap: 8px;

        .#{$input}--large {
            padding: 12px 8px;
        }

        .#{$input}--small {
            padding: 1px 8px;
        }

        &:hover,
        &.#{$input}--focus {
            color: $primary-6;

            &.#{$input}--error {
                color: $danger-5;
            }

            &.#{$input}--warning {
                color: $gold-6;
            }

        }
    }

    &--have-prefix {
        .#{$input}__input {
            padding-left: 0;
        }
    }

    &--have-suffix {
        .#{$input}__input {
            padding-right: 0;
        }
    }

    &__input {
        padding: 5px 12px;

        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-size: inherit;

        &::placeholder {
            color: rgba($black, .25);
        }

        @include set-color("", transparent, transparent);
    }
}