@import "@Styles/scss/default.scss";

.question-list {
    width: 100%;
    padding: 8px 32px 32px;

    &__item {
        border-bottom: 1px solid #F0F0F0;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }




}