@import 'mixin.scss';

$primary-5:#40A9FF;
$primary-6:#1890FF;
$primary-7:#096dd9;
$danger-5:#FF4D4F;
$danger-4:#FF7875;
$white:#FFFFFF;
$black:#000000;
$black-85:rgba($black, 0.85);
$black-25:rgba($black, 0.25);
$gray-2:#FAFAFA;
$gray-3:#F5F5F5;
$gray-5:#D9D9D9;
$bg-color: #F0F2F5;
$border-radius:2px;
$border-radius-circle:50%;


@mixin disabled-color {
    cursor: not-allowed;
    @include set-color($black-25, $gray-3, $gray-5);
}

@mixin disabled-text-color {
    cursor: not-allowed;
    @include set-color($black-25, transparent, transparent);
}