@import "@Styles/scss/default.scss";

.tabs {
    gap: 32px;

    &__tab {
        padding-left: 0;
        padding-right: 0;

        &:focus,
        &--active,
        &--active:focus,
        &--active:hover {
            color: $primary-6;
            border-bottom: 2px solid $primary-6;
        }
    }
}