
.btn {
    padding: 4px 15px;
    border: 1px solid #1890FF;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    background: #1890FF;
    font-size:14px;
    line-height:22px;
    color:#ffffff;
}
/* .btn {
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    min-height: 36px;
    border: 1px solid $white;
    border-radius: $border-radius-base;
    background: #1890FF;
    color: $primary-6;
    box-shadow: $box-shadow-sm;
    &:focus {
        outline: none;
    }
    &--danger {
        border-color: $error-color;
        color: $error-color;
    }
    &[disabled] {
        border-color: $normal-color;
        color: $normal-color;
    }
    &--hide {
        display: none;
    }
    &--icon-only {
        padding: 0;
        min-width: auto;
        width: 36px;
        height: 36px;
        border: none;
        background: transparent;
        font-size: 24px;
        &.#{$theme-name}-#{$btn-prefix-cls}--lg {
            min-width: 48px;
        }
        &.#{$theme-name}-#{$btn-prefix-cls}--default {
            background:#fbfbfb;;
            border: 1px solid #d0d9e4;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
    }
    
    &--flex {
        min-width: unset;
        flex: 1;
    }
    &--block {
        margin: 0 auto 10px;
        display: block;
        width: 100%;
        max-width: 420px;
    }
    &--fixed {
        position: fixed;
        bottom: 40px;
        right: 20px;
    }
    &--primary {
        background: $primary-6;
        border-color: $primary-6;
        color: $white;
        &.#{$theme-name}-#{$btn-prefix-cls}--danger {
            background: $error-color;
            border-color: $error-color;
            color: $white;
        }
        &[disabled] {
            background: $normal-color;
            border-color: $normal-color;
            color: $white;
        }
    }
    &--text {
        background: transparent;
        border: none;
        min-width: unset;
        padding: 0;
        box-shadow: none;
    }
    &--link {
        background: transparent;
        text-decoration: underline;
        border: none;
        min-width: unset;
        padding: 0;
        box-shadow: none;
    }
    &--round{
        border-radius: $border-radius-base;
    }
    &--circle {
        border-radius: 50%;
    }
    &--lg {
        min-height: 48px;
        font-size: 30px;
    }
    &__desc{
        word-break:keep-all;
        font-size:14px;
    }
} */