body{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* layout */
.l_app{
    position:relative;
    width:360px;
    height:750px;
    box-shadow:2px 2px 5px rgb(137, 137, 137);
}
.l_wrap{
    position:relative;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    background:#FFFEF6;
}

/* header */
.header{
    transition:box-shadow .3s ease, margin .3s ease, padding .3s ease;
    z-index:1;
    position:sticky;
    top:0;
    padding:80px 0 0 80px;
    background:#FFFEF6;
}
.header__title{
    margin-bottom:8px;
    font-size:32px;
    line-height:38px;
}
.header__text-progress{
    margin-bottom:8px;
    display:block;
    font-size:12px;
    line-height:14px;
    color:#515151;
}
.header__progress-bar{
    width:100%;
    height:2px;
    background:#A6A6A6;
}
.header__progress-bar-inner{
    transition:width .2s ease;
    width:0;
    height:100%;
    background:#B81C1C;
}
.header--scroll{
    margin-top:68px;
    padding:12px 0 0 80px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.24);
}

/* main */
.main{
    padding:30px 0 270px;
    flex:1;
}

/* todo-item */
.todo-item{
    cursor:pointer;
    display:flex;
    align-items:center;
    height:60px;
    background: rgba(255, 255, 255, 0.541);
}
.todo-item__check-box{
    display:flex;
    justify-content:center;
    width:80px;
}
.todo-item__main{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.todo-item__title{
    margin-bottom:4px;
    font-size:16px;
}
.todo-item__title-label{
    position:relative;
}
.todo-item__title-label:after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    width:120%;
    height:1px;
    background:#B81C1C;
}
.todo-item__time{
    font-size:12px;
    color:#A6A6A6;
}
.todo-item__btn-delete{
    cursor:pointer;
    margin:0 22px;
    display:none;
    width:24px;
    height:24px;
    border:none;
}
.todo-item--checked__title{
    color:#B81C1C;
}
.todo-item--checked__title-label:after{
    display:block;
}
.todo-item--checked__btn-delete{
    display:block;
}
.todo-item--checked{
    background:#F9F9F9;
}

/* no-todo */
.no-todo{
    padding:40px 0 0;
    display:none;
    flex-direction:column;
    align-items:center;
}
.no-todo__img{
    margin-bottom:8px;
    width:96px;
}
.no-todo__text{
    font-size:24px;
}
.no-todo--show{
    display:flex;
}

/* add-todo */
.add-todo{
    transition:width .3s ease, padding .3s ease;
    overflow:hidden;
    position:absolute;
    left:50%;
    bottom:100px;
    transform:translate(-50%, 50%);
    width:60px;
    height:60px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.24);
    border-radius:4px;
    box-sizing:content-box;
    background:#F5F5F5;
}
.add-todo__input{
    position:absolute;
    left:6px;
    top:50%;
    transform:translate(0, -50%);
    width:227px;
    height:inherit;
}
.add-todo__text-input{
    padding:10px;
    width:100%;
    height:100%;
    border:none;
    box-sizing:border-box;
    border-radius:4px;
}
.add-todo__btn{
    position:relative;
    z-index: 1;
    cursor:pointer;
    margin-left:auto;
    padding:8px;
    display:block;
    width:60px;
    height:inherit;
    border:none;
    border-radius:4px;
    box-sizing:border-box;
    background:#B81C1C;
}
.add-todo--open{
    padding:6px;
    width:293px;
}

/* check-box */
.check-box{
    cursor:pointer;
    padding:0 9px;
    display: flex;
    align-items:center;
    gap:5px;
    height:36px;
    font-size:24px;
}
.check-box__input{
    cursor:pointer;
    position:relative;
    display:block;
    width:18px;
    height:18px;
}
.check-box__input:active{
    outline:none;
}
.check-box__input:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:2px solid #A6A6A6;
    border-radius: 4px;
    box-sizing:border-box;
    background: #fff;
}
.check-box__input:after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
    width:100%;
    height:100%;
    border:2px solid #B81C1C;
    border-radius: 4px;
    box-sizing:border-box;
    background:url(../images/icon_check.svg) center / 12px 12px;
}
.check-box__input--checked:after{
    display:block;
}