@keyframes xi-spin {
    0% {
                transform: rotate(0deg);
    }
    100% {
                transform: rotate(359deg);
    }
    }
    .icon--loading:before {
        content: "\ec35";
    }
    .icon--loading{animation: xi-spin 2s infinite linear;}
    