@import "@Styles/scss/default.scss";
$space: "space";

.#{$space} {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    &--wide {
        width: 100%;
    }

    &--white {
        background-color: $white;
    }

    &--hide {
        display: none;
    }

    &--small {
        padding: 0;
        gap: 0px;
    }

    &--large {
        padding: 16px 24px;
        gap: 24px;
    }

    &--vertical {
        flex-direction: column;
    }

    &--flex-start {
        align-items: flex-start;
    }

    &--flex-end {
        align-items: flex-end;
    }

    &__box {
        flex: 1;
    }
}