.space {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    &--small {
        padding: 0;
        gap: 0px;
    }

    &--large {
        padding: 16px 24px;
        gap: 24px;
    }

    &--vertical {
        flex-direction: column;
    }

    &__box {
        flex: 1;
    }
}