@import "@Styles/scss/default.scss";

.space {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    &--white {
        background-color: $white;
    }

    &--fill-width {
        width: 100%;
    }

    &--hide {
        display: none;
    }

    &--small {
        padding: 0;
        gap: 0px;
    }

    &--large {
        padding: 16px 24px;
        gap: 24px;
    }

    &--vertical {
        flex-direction: column;
    }

    &__box {
        flex: 1;
    }
}